$veryDarkDesaturatedBlueTextColor: hsl(238, 29%, 16%);
$softRedTextColor: hsl(14, 88%, 65%);
$softVioletGradientColor: hsl(273, 75%, 66%);
$softBlueGradientColor: hsl(240, 73%, 65%);
$veryDarkGrayishBlueTextColor: hsl(237, 12%, 33%);
$darkGrayishBlueTextColor: hsl(240, 6%, 50%);
$lightGrayishBlueDividerColor: hsl(240, 5%, 91%);
$whiteColor: #fff;
